<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpHandlers>
      <add verb="*" path="*.html" type="System.Web.StaticFileHandler"/>
      <add verb="*" path="*.htm" type="System.Web.StaticFileHandler"/>
    </httpHandlers>
    <httpModules>
      <add name="HtmlRewrite" type="Ivony.Web.Html.HtmlRewriteModule, Ivony.Web.Html"/>
      <add name="HtmlBinding" type="Ivony.Web.Html.Binding.HtmlBindingModule, Ivony.Web.Html.Binding"/>
    </httpModules>
  </system.web>
</configuration>
